                            /*  header and hero */
.hero {
    background-image: url(./img/it_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 266px;
    padding-bottom: 335px;  

}
.menu {
    display: flex;
    color: #ffffff;

/* p */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
justify-content: flex-end;
 

}

.title {
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 134.09%; /* 64.363px */
width: 829px;
margin: 0 auto;
margin-bottom: 50px;

}
.pod-title{
    color: #FFF;
text-align: center;

/* p */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0 auto;
margin-bottom: 20px;
}
.button {
    border-radius: 30px;
background: var(--Accent, #4985FF);
box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
width: 200px;
height: 45px;
flex-shrink: 0;
/* display: flex; */
display: block;
margin: 0 auto;
color: #FFF;

}
.header{
    position: absolute;
    border-bottom: 2px solid rgba(161, 161, 161, 0.5);
    width: 100%;
    /* width: 1920px;
height: 900px;
flex-shrink: 0; */

}
.menu-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-item:not(:last-child) {
    margin-right: 39px;

}
.menu-item:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #FFF;
   top: 77px;
    
}
.menu-item {
    position: relative;
}
.menu-p {
    color: #FFF;

/* p */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.container {
    width: 1145px;
    padding: 0 15px;
    margin: 0 auto;
}
                         /* ми створюємо мобільні додатки */


    .button1 {
        border-radius: 30px;
background: var(--Accent, #4985FF);

/* Shadow */
box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
color: #FFF;
width: 200px;
height: 45px;
flex-shrink: 0;
display: block;
margin: 0 auto;
margin-top: 55px;
    }
    .title1 {
        color: var(--dark, #323232);
text-align: center;

/* h2 */
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 146.28%; /* 52.661px */
width: 739px;
height: 93px;
padding-top: 5px;
margin: 0 auto;
    }

    .pod-title1 {
        width: 730px;
height: 54px;
flex-shrink: 0;
color: var(--grey, #999);
text-align: center;

/* p>h2 */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 158.47%; /* 25.355px */
margin: 0 auto;
margin-top: 32px;
    }
.section2{
    background: #F6F6F8;
    
height: 797px;
flex-shrink: 0;
padding-top: 100px;
padding-bottom: 70px;
}

.container-comp{
    display: flex;
    /* align-items: baseline;
    flex-direction: column; */
  
}
.title2{
    color: var(--dark, #323232);

/* h2 */
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 146.28%; /* 52.661px */
width: 424px;
height: 88px;
flex-shrink: 0;



}
.pod-title2 {
    color: var(--grey, #999);

/* p>h2 */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 158.47%; /* 25.355px */
width: 489px;
height: 85px;
flex-shrink: 0;


}
.link1{
    color: var(--Accent, #4985FF);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: underline;


}

.computer{
    border-radius: 30px;
 /* margin-left: 800px; */

/* Shadow */

width: 500px;
height: 400px;
flex-shrink: 0;
}
    .make-sites{
        width: 353px;
height: 139px;
flex-shrink: 0;

    }
    .sites-ul{
        display: flex;
        justify-content: space-evenly;

        
    }
    .title3{
        width: 540px;
height: 88px;
flex-shrink: 0;
color: #FFF;

/* h2 */
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 146.28%; /* 52.661px */
    }
    .button2 {
        border-radius: 30px;
        background: var(--Accent, #4985FF);
        
        /* Shadow */
        box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
        color: #FFF;
        width: 200px;
        height: 45px;
        flex-shrink: 0;
        display: block;
        margin: 0 auto;
    }
    .button3{
        border-radius: 30px;
        background: var(--Accent, #4985FF);
        
        /* Shadow */
        box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
        color: #FFF;
        width: 200px;
        height: 45px;
        flex-shrink: 0;
        display: block;
      margin: 0 auto;
      margin-top: 50px;
     
    }
    .video {
        background-image: url(./img/background2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
height: 570px;
flex-shrink: 0;

    }
    .video-work{
        color: #FFF;
text-align: center;

/* h2 */
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 146.28%; /* 52.661px */
width: 730px;
height: 15px;
flex-shrink: 0;
margin: 0 auto;
margin-top: 70px;
    }
    .video-work-p{
        color: #FFF;
text-align: center;

/* p>h2 */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 158.47%; /* 25.355px */
width: 730px;
height: 15px;
flex-shrink: 0;

    }
    .container1 {
        display: flex;
        width: 104px;
height: 67px;
flex-shrink: 0;
margin-right: 40px;
    }
.container2{
display: flex;
}
.link{
    color: var(--Accent, #4985FF);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: underline;
}
.code-picture{
    margin-right: 30px;
    margin-top: 39px;
    
}
.code{
    display: flex;
    justify-content: center;
}
.title4{
   
    padding-top: 100px;
    text-align: center;
    
}
.code-section{
    background: #F6F6F8;
    
height: 776px;
flex-shrink: 0;
}
.titlep{
    color: var(--grey, #999);
    text-align: center;
    
    /* p>h2 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%; /* 25.355px */
    width: 730px;
height: 41px;
flex-shrink: 0;
margin: 0 auto;
}
.video-pic{
    border-radius: 10px;
    
    
    /* Shadow */
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
    width: 970px;
height: 430px;
flex-shrink: 0;
margin-left: 475px;
margin-bottom: 814px;
}

.footer{
    background: #F6F6F8;
    
height: 413px;
flex-shrink: 0;

}
ul {list-style: none;}
.our-works{
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(80,77,194,0.8562018557422969) 50%);
}
.oven-container{
    display: flex;
}
.foter{
    display: flex;
    justify-content: center;
    margin-right: 43px;
}
.footer-list{
    color: #000;

/* h3 */
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 242px;
height: 17px;
flex-shrink: 0;
}
.footer-list-item{
    width: 225px;
height: 14px;
flex-shrink: 0;
color: var(--grey, #999);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 158.47%; /* 22.186px */
}
.prava{
    color: var(--grey, #999);
text-align: center;
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 158.47%; /* 20.601px */
width: 386px;
height: 15px;
flex-shrink: 0;
margin: 0 auto;
margin-top: 300px;
}
.subscribe{
    color: #000;
text-align: center;

/* h3 */
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.useful{
    color: var(--grey, #999);
text-align: center;

/* p>h2 */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 158.47%; /* 25.355px */
}
.spam{
    color: var(--grey, #999);
text-align: center;
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 158.47%; /* 20.601px */
}
.text-container{
    margin-right: 121px;
}
.video-photo{
    background-image: url(./img/town.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 165px;
    padding-bottom: 165px;
    width: 970px;
height: 430px;
flex-shrink: 0;
margin: 0 auto;
}
.buttton4{
    width: 300px;
height: 100px;
flex-shrink: 0;
border-radius: 200px;
border: 1px solid #FFF;
display: block;
margin: 0 auto;
}
.input{
    border-radius: 30px;
border: 1px solid var(--f-2-f-2-f-2, #F2F2F2);
background: #FFF;
box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
margin: 0 auto;

}

